body {
  background-image: url("image/Vcard1.jpg");
  background-size: cover;
  //background-repeat: no-repeat;
}
h1,
h2,
p,
ul,
li {
  color: white;
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;
}
header {
  width: auto;
  height: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
}
aside {
  text-align: center;
  width: 200px;
  float: right;
  width: 25%;
}
footer {
  position: absolute;

  bottom: 0;

  width: 100%;
  padding-top: 40px;

  height: 40px;
}
.foot {
  font-size: 10px;
}
ul,
li {
  list-style: none;
}
img {
  height: 150px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  margin-bottom: 80px;
}
p {
  font-size: 30px;
}
ul,
li {
  font-size: 25px;
}

@media screen and (max-width: 479px) {
  p,
  ul,
  li {
    font-size: 20px;
  }
  aside {
    position: absolute;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  section {
    position: relative;
  }
}
